{{define "category"}}
    <li> {{.Name}} -> ID: {{.ID}}, Level: {{.Level}}, Best Offer: {{ if .BestOfferEnabled}} Yes {{else}} No {{end}}
        
        {{if .Children}}
            <ul>
                {{range .Children}}
                    {{template "category" .}}
                {{- end}}
            </ul>
        {{- end}}
    </li>
{{- end}}

<html>
    <head>
        <title>{{.Name}}</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        {{.Name}}
        <ul class='tree'>
             {{ template "category" .}}
        </ul>
    </body>
</html>